.div1{
    background-color: pink;
    border-color: blue;
    font-size: 32px;
    border-width: 32px;
    margin: 12px;
    padding: 32px;
    border-width: 2px;
    border-style: solid;

}



.div2{
    background-color: aqua;
    border-color: blueviolet;
    margin-bottom: 48px;
    border-width: 2px;
    border-style: solid;
}



.div3{
    background-color:burlywood;
    border-color: brown;
    font-size: 32px;
    border-width: 32px;
    padding: 32px;
    border-width: 2px;
    border-style: solid;
    margin-left: 500px;

}