html, body {
  height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

.modal {
    background-color:aliceblue;
    width: 480px;
    border-radius: 10px;
    gap: 16px;
    display: flex;
}


.icon{
    font-weight: bold;
    font-size: 26px;
    color: blue;
    background-color:darkgrey;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;

}

.close-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: medium;
    color: grey;
    background-color:darkgrey;
    border-radius: 50%;
    font-size: 16px;
    height: 24px;
    width: 24px;
    padding: 0;
    }


.text{
    font-size: medium;
    margin-bottom: 16px;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

.Continue{
    color: aliceblue;
    background-color: blue;
    padding: 5px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 20%;

}

.Cancel{
    color: blue;
    background-color: aliceblue;
    padding: 5px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 20%;
}








